/* Styles for the Contact component */
.contact-content {
  display: flex;
  gap: 30px;
}

.contact-info {
  flex: 1;
}

.contact-form {
  flex: 1.5;
}

.social-links a {
  display: inline-block;
  margin-right: 15px;
  margin-top: 20px;
  color: var(--primary-color);
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #f0f0f0;
  transition: all 0.3s ease;
  font-weight: 500;
  border: 1px solid var(--secondary-color);
}

.social-links a:hover {
  opacity: 0.4;
}


@media (max-width: 768px) {
  .contact-content {
    flex-direction: column;
  }
} 

.header-contact a {
  font-size: 1em;
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 500;
}

.header-contact a:hover {
  text-decoration: underline;
  color: var(--secondary-color);
}